.menu {
  width: 100%;
  padding: $baselineheight;
  border-bottom: dashed 1px $compcolor;
  text-align: left;

  &__item {
    cursor: pointer;

    &--categories {
      display: inline-block;
      width: auto;
      font-size: fs(small) * 1.25;
      font-family: $basefont;
      padding: $baselineheight;
      margin-right: $baselineheight;

      input[type="button"] {
        background-color: transparent;
      }

    }
    
    input[type="checkbox"] {
      margin-left: 5px;
      height: 15px;
      width: 15px;
      background-color: transparent;
      border: solid 1px #000;
      border-radius: 50%;
    }
    i.fa-sharp {
      margin-left: 5px;
      //background-color: #fff;
    }

    &--complete{
      width: 150px;
      background-color: transparent;
      padding: $baselineheight;
      font-size: fs(small) * 1.1;
      font-family: $altfont;
      margin-right: $baselineheight;
      border: solid 1px $black;
      border-radius: $radius;
    }

    &--all,
    &--priority {
      padding: $baselineheight;
      background-color: $white;
      font-size: fs(small)*1.1;
      font-family: $basefont;
      margin-right: $baselineheight;
    }
  }
}
