.menu{
    width: 100%;
    padding: $baselineheight;
    border-bottom: dashed 1px $compcolor;
    text-align: left;

    &__item{
        display: inline-block;
        width: auto;
        font-size: fs(small) * 1.25;
        font-family: $basefont;
        padding: $baselineheight;
        margin-right: $baselineheight;
        background-color: transparent;
        cursor: pointer;
        border-radius: 20px;
        
        input{
            padding: 5px;
            background-color: transparent;
        }
    }
}